.Prestige-Navbar {
  height: 60px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: #e3e3e3;
}
.nav-logo-for-prestige-navbar p {
  font-size: 28px;
  font-weight: 500;
  /* letter-spacing: 5px; */
}
.nav-items-for-prestige-navbar {
  gap: 1em;
  display: flex;
}
.nav-items-for-prestige-navbar p {
  white-space: nowrap;
  max-width: 6em;
  overflow: hidden;
  text-overflow: ellipsis;
}
.nav-toggle {
  display: none;
}
.nav-logo-for-prestige-navbar {
  font-weight: 700;
  font-size: 21px;
  margin: 15px;
  color: #000000;
}
.header-text-and-nav-items {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 2em;
}
.contains-icons-in-resposive {
  display: none;
}
.contains-toggle-and-icons-for-nav {
}
.nav-items-for-prestige-navbar > p {
  color: #000000;

  font-size: 16px;
  text-decoration: none;
  margin: 15px;
  position: relative;
  opacity: 0.9;
}

.nav-items-for-prestige-navbar > p:hover {
  opacity: 1;
}

.nav-items-for-prestige-navbar > p::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 2px;
  background: #020101;
  transition: all 0.45s;
}

.nav-items-for-prestige-navbar > p:hover::before {
  width: 100%;
}

.nav-toggle-for-dawn-navbar {
  display: none;
}
.contains-icons-for-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1em;
  cursor: pointer;
}
@media (max-width: 700px) {
  /* .contains-icons-for-nav {
    } */
  .nav-items-for-prestige-navbar {
    position: absolute;
    top: 60px;
    display: flex;
    flex-direction: column;
    background: #727070;

    left: 0;
    width: 100%;
    height: 100%;
    transform: translateX(-100%);
    transition: all 0.45s;
  }

  .nav-items-for-prestige-navbar > p::before {
    background: transparent;
  }

  .nav-items-for-prestige-navbar.open {
    transform: translateX(0);
  }

  .nav-toggle-for-dawn-navbar {
    display: flex;
    width: 50px;
    height: 50px;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }

  .nav-toggle > .bar {
    position: relative;
    width: 32px;
    height: 2px;
    background: #000000;
    transition: all 0.45s ease-in-out;
  }

  .nav-toggle > .bar::before,
  .nav-toggle > .bar::after {
    content: "";
    position: absolute;
    height: 2px;
    background: #000000;
    border-radius: 2px;
    transition: all 0.45s ease-in-out;
  }

  .nav-toggle > .bar::before {
    width: 25px;
    transform: translateY(-8px);
    right: 0;
  }

  .nav-toggle > .bar::after {
    width: 32px;
    transform: translateY(8px);
  }

  .nav-toggle.open > .bar {
    transform: translateX(-40px);
    background: transparent;
  }

  .nav-toggle.open > .bar::before {
    width: 32px;
    transform: rotate(45deg) translate(26px, -26px);
  }

  .nav-toggle.open > .bar::after {
    transform: rotate(-45deg) translate(26px, 26px);
  }
  .nav-toggle {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2em;
  }
  .contains-toggle-and-icons-for-nav {
    display: flex;
    justify-content: space-between;
    gap: 2em;
    display: none;
  }
  .contains-icons-in-resposive {
    display: flex;
    justify-content: center;
    height: 1em;
    width: 1em;
  }
}
