.div-contains-all-components-case-study {
  background-image: url("../../Assets/CaseStudyComponent/CaseStudyImg-1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  width: 100%;
  opacity: 5;
  justify-content: center;
  height: 24em;
  background-position: fixed;
}
.flex-container-for-case-study-components {
  display: flex;
  justify-content: center;
}
.width-set-for-case-study-screen {
  width: 75em;
}
