.flex-main-container-shopping-products-and-navbar {
  background-color: #fbf3eb;
}
.product-navbar-heading {
  display: flex;
  align-items: center;
  /* justify-content: center; */
  gap: 200px;

  padding: 20px 0 0 85px;
}
.product-navbar-all-content {
  display: flex;
  gap: 45px;
  justify-content: center;
}
.product-navbar-sub-content {
  display: flex;
  cursor: pointer;
  width: 120px;
  height: 50px;
  align-items: center;
  justify-content: center;
  /* padding: 0 0 0 10px; */
}
.product-navbar-sub-content:hover {
  border: 1px solid black;
  border-radius: 30px;
  background-color: #124944;
  color: white;
}

.product-info-card-for-selection {
  height: 272px;
  width: 250px;
  display: block;
  padding: 11px;
}
.shopping-product-cards-container {
  border-radius: 13px;
  display: block;
  border: 10px solid white;
  width: 270px;
  height: auto;
}
.image-for-like-the-product {
  float: right;
}

.image-of-the-product-details {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 31px;
}

.product-name-for-selection p {
  padding-left: 11px;

  font-size: 25px;
  font-weight: 600;
}
.sizes-for-all-dogs-selection p {
  padding-left: 11px;
  font-size: 12px;
  font-weight: 500;
  padding-top: 9px;
}

.bottom-section-about-products-details {
  background-color: #fff;
}

.star-review-for-product {
  font-size: 100%;
  color: yellow;
  border: none;
}
.review-price-and-add-to-card-button {
  padding-left: 11px;
  padding-top: 22px;
  font-size: 13px;
  font-weight: 600;
}
.image-for-add-to-cart {
  border-radius: 66px;
  float: right;
}
.all-cards {
  display: flex;
  justify-content: left;
  align-items: center;
  padding: 1rem 1rem 1rem 4.5rem;
  column-gap: 1.5rem;
}
