.flex-main-container-shopping-products-and-navbar {
  background-color: #fbf3eb;
  display: flex;
  justify-content: center;
}
.wid-product-nav {
  width: 75em;
}
.product-navbar-heading {
  display: flex;
  align-items: center;
  /* justify-content: center; */
  gap: 260px;
  padding: 100px 0 0 0;
}
.product-navbar-all-content {
  display: flex;
  gap: 40px;
  justify-content: center;
}
.product-navbar-sub-content {
  display: flex;
  cursor: pointer;
  /* width: 100%; */
  height: 50px;
  align-items: center;
  justify-content: center;
  /* padding: 0 0 0 10px; */
}
.product-navbar-sub-content:hover {
  /* border: 1px solid black; */
  border-radius: 30px;
  background-color: #124944;
  color: white;
}

/* .shopping-product-cards-container {
  border-radius: 8px;
  display: block;
  border: 20px solid white;
  width: 329px;
  height: auto;
} */
.image-for-like-the-product {
  float: right;
}

/* .image-of-the-product-details {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 31px;
} */

.product-name-for-selection p {
  padding: 15px 0px;
  font-size: 18px;
  font-weight: 600;
}
.sizes-for-all-dogs-selection p {
  padding: 1px 0 0 3px;
  font-size: 12px;
  font-weight: 500;
}

.bottom-section-about-products-details {
  background-color: #fff;
}

.star-review-for-product {
  font-size: 100%;
  color: yellow;
  border: none;
}
.review-price-and-add-to-card-button {
  font-size: 15px;
  font-weight: 600;
  padding: 14px 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.image-for-add-to-cart {
  border-radius: 50%;
  float: right;
}
.all-cards {
  display: flex;
  justify-content: left;
  align-items: center;
  padding: 3rem 1rem 6rem 0;
  column-gap: 1.5rem;
  overflow-y: scroll;
}
.container-image-for-add-to-cart {
  background-color: white;
  display: flex;
  justify-content: end;
  gap: 15px;
}
@media (min-width: 320px) and (max-width: 425px) {
  .all-cards {
    width: 100%;
    display: flex;
    justify-content: left;
  }

  .shopping-product-cards-container {
    width: 360px;
  }
  .product-navbar-all-content p {
    display: block;
    /* gap: 60px; */
    justify-content: center;
    font-size: 12px;
  }
  .product-navbar-all-content {
    gap: 17px;
  }
  .product-navbar-all-content:hover {
    display: none;
  }
  .chdbhcbdjhzcbxhbvh p {
    text-align: center;
  }
  .product-navbar-heading {
    display: block;
  }
  .wid-product-nav {
    width: 100%;
  }

  .product-name-for-selection p {
    /* padding: 15px 0px; */
    font-size: 18px;
    font-weight: 600;
  }
  .review-price-and-add-to-card-button {
    font-size: 10px;
    font-weight: 600;
    padding: 14px 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
