.container-card-for-downloadable {
  width: 17em;
}
.card-img-for-downloadable img {
  width: 100%;
  height: 20em;
}
.info-about-card-in-downloadable {
  width: 100%;
  text-align: left;
}
.info-about-card-in-downloadable {
  font-size: 15px;
  font-weight: 500;
  padding-top: 0.5em;
}
/* Media Query for Downloadable component */

@media (min-width: 320px) and (max-width: 425px) {
  .container-card-for-downloadable {
    width: 100%;
  }
  .card-img-for-downloadable img {
    width: 100%;
    height: auto;
  }

  .info-about-card-in-downloadable {
    width: 100%;
    text-align: center;
  }
}
