.dawn-products {
  display: flex;
  gap: 1em;
  width: 100%;
  justify-content: center;
  margin-top: 1em;
  margin-bottom: 1em;
  flex-wrap: wrap;
  /* overflow-y: scroll; */
}
.width-set-for-screen-of-products {
  width: 75em;
}
.dawn-nav {
  display: flex;
  justify-content: center;
  background-color: #e2e2e2;
}
.div-for-all-products-after-dawn-nav {
  display: flex;
  justify-content: center;
}

@media (min-width: 320px) and (max-width: 425px) {
  .width-set-for-screen-of-products {
    width: 100%;
  }
  .dawn-products {
    display: block;
  }
}
