.main-div-for-pet-shop {
  display: flex;
  background-color: #fbf3eb;

  justify-content: center;
}
.sub-div-for-pet-shop {
  width: 80em;
  display: flex;
  gap: 270px;
}
.heading-title-div {
  padding: 90px 0 0 0;
}
.first-para-in-heding {
  font-size: 14px;
  color: #124944;
}
.heading-title-pet-shop {
  font-size: 50px;
  font-weight: 800;
  font-family: Acumin Pro;
}
.shop-nowbtn {
  background-color: #124944;
  color: white;
  height: 55px;
  width: 130px;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  margin: 35px 0 0 0;
}
.arrow-icon-in-btn {
  width: 15px;
  height: 15px;
  justify-content: center;
}
.pet-food-image {
  height: 320px;
  width: 250px;
}

.pet-food-promo-image {
  width: 450px;
  height: 550px;
  padding: 0 86px 0 20px;
  margin: -120px 0 0 0;
  background: transparent;
}
