.heading-title-div {
  padding: 0 85px;
}
.heading-title-pet-shop {
  font-size: 45px;
  font-weight: 800;
}
.shop-nowbtn {
  background-color: #124944;
  color: white;
  height: 35px;
  border: none;
  display: flex;
  align-items: center;
  gap: 5px;
}
.arrow-icon-in-btn {
  width: 15px;
  height: 15px;
  justify-content: center;
}
.pet-food-image {
  height: 350px;
  width: 250px;
}
.main-div-for-pet-shop {
  display: flex;
  justify-content: space-between;
}
.pet-food-promo-image {
  width: 450px;
  height: 550px;
  padding: 0 86px 0 20px;
}
