.main-div-for-pet-shop {
  display: flex;
  background-color: #fbf3eb;

  justify-content: center;
}
.sub-div-for-pet-shop {
  width: 75em;
  display: flex;
  gap: 200px;
}
.heading-title-div {
  padding: 90px 0 0 0;
}
.first-para-in-heding {
  font-size: 14px;
  color: #124944;
}
.heading-title-pet-shop {
  font-size: 50px;
  font-weight: 800;
  font-family: Acumin Pro;
}
.shop-nowbtn {
  background-color: #124944;
  color: white;
  height: 55px;
  width: 130px;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  margin: 35px 0 0 0;
}
.arrow-icon-in-btn {
  width: 15px;
  height: 15px;
  justify-content: center;
}
.pet-food-image {
  height: 320px;
  width: 250px;
}

.pet-food-promo-image {
  width: 450px;
  height: 550px;
  padding: 0 86px 0 20px;
  margin: -120px 0 0 0;
  background: transparent;
}

/* Media Screen */

@media (min-width: 320px) and (max-width: 425px) {
  .nuetritionaly-complete-text-in-heading-shop-now {
    padding: 30px 0px;
    text-align: center;
    font-size: 16px;
    font-weight: 500;
  }
  .main-div-for-pet-shop {
    display: flex;
  }
  .heading-title-pet-shop {
    margin: 2px 0 18px 0;
    /* margin: 0; */
    /* display: flex; */
    /* justify-content: center; */
    text-align: center;
  }
  .shop-nowbtn {
    /* display: flex; */

    margin: auto;
    width: 100px;
    height: 40px;
  }

  .images-in-home-screen-components {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .pet-food-image {
    width: 100%;
  }
  .pet-food-promo-image {
    padding: 0px;
    display: none;
  }
  .contains-images-for-advertise {
    margin: 1em;
  }
  .sub-div-for-pet-shop {
    display: block;
  }
}
