.Select-adreess-header-cart {
  color: rgb(51, 51, 51);
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  margin: 0px;
  padding: 0px;
  letter-spacing: 0.5px;
}

.div-for-all-input-in-add-address {
  padding: 10px 0px;
}

.padding-for-input-add-address {
  padding: 10px 0px;
  width: 100%;
}

.header-sanmll-categ {
  color: rgb(51, 51, 51);
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 28px;
  margin: 0px 0px 0px 8px;
  padding: 0px;
}

.border-for-box-of-add-daress {
  background-color: rgb(255, 255, 255);
  border-radius: 8px;
  border: 1px solid rgb(240, 240, 240);
  padding: 20px 16px;
}

.flexbo-ibusnodl {
  display: flex;
  justify-content: space-between;
  padding-top: 10px;
  padding-bottom: 10px;
}

.state-city-plkm {
  width: 47%;
}

.savandcontinueaddress {
  cursor: pointer;
  font-style: normal;
  text-align: center;
  letter-spacing: 0.0015em;
  font-size: 18px;
  line-height: 20px;
  border-radius: 4px;
  color: rgb(255, 255, 255);
  background: #007f61;
  border: none;
  padding: 12px;
  display: block;
  width: 100%;
}

.full-address-view-acrion {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  margin: 0px;
  padding: 0px;
  color: rgb(102, 102, 102);
  margin-top: 16px;
  /* letter-spacing: 0.5px; */
}

.color-box-at-address-box {
  background: #cee5d059;
  padding: 20px;
  margin-top: 1em;
  margin-right: 1em;
  border-radius: 8px;
}

.Edit-btn-intext {
  border: none;
  font-weight: 600;
  background: transparent;
  font-size: 18px;
  color: #007f61;
  margin: 10px 0px;
  cursor: pointer;
}

.error-msg-in-red {
  font-size: 13px;
  color: red;
  padding: 10px 4px;
  letter-spacing: 0.3px;
}
