.pet-shop-nav {
  display: flex;
  gap: 45px;
  /* align-items: center; */
  padding: 30px 0px;
  justify-content: center;
  z-index: 100;
  background-color: #fbf3eb;
}
.pet-shop-nav-width-div {
  display: flex;
  justify-content: space-between;
  width: 75em;
  z-index: 1;
  align-items: center;
}
.pet-shop-nav-content {
  text-decoration: none;
  color: #000;
  display: flex;
  gap: 45px;
  font-weight: 500;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.search-icon-navbar {
  width: 25px;
  height: 25px;
}
.contact-us-btn-in-nav {
  height: 55px;
  width: 130px;
  font-weight: 800;
  background-color: #f9d029;
  color: #000;
  border: none;
  cursor: pointer;
}

h2 {
  display: block;
  font-size: 1.5em;
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0;
  margin-inline-end: 0;
  font-weight: bold;
}
.pet-shop-nav-middle-content {
  display: flex;
  align-items: center;
}
.navbar-heading {
  font-family: 'Acumin Pro';
  font-size: '38px';
}
@media (min-width: 320px) and (max-width: 420px) {
  .pet-shop-nav-middle-content {
    display: none;
  }
  .pet-shop-nav {
    gap: 25px;
  }
  .navbar-heading {
    font-size: 14px;
    margin: 10px 0 0 12px;
  }
  .contact-us-btn-in-nav {
    height: 55px;
    width: 80px;
  }
}
