.flex-container-landing-page-mobile-section {
  display: flex;
  justify-content: center;
}
.width-set-for-landing-page-mobile-section {
  width: 75em;
}
.container-for-qr-codes-and-heading-img {
  display: flex;
  justify-content: center;
  margin: 5em 0;
}
.title-heading-info {
  display: grid;
  row-gap: 1em;
  margin-bottom: 3em;
}
.title-heading-info-bottom h1 {
  font-size: 50px;
  color: #212326;
  font-weight: 400;
  margin-bottom: 1em;
}
.title-heading-info-bottom {
  display: flex;
  justify-content: center;
}
.section-title {
  font-size: 18px;
  font-weight: 600;
  color: #004c3f;
}
.title-heading-info h1 {
  font-size: 49px;
  color: #212326;
}
.info-paragraph-for-mobile-qr {
  max-width: 86%;
  font-size: 1.25em;

  font-weight: 200;
  color: grey;
}
.scan-to-install {
  display: flex;
  gap: 1em;
  /* padding-left: 1em; */
}
.qr-codes-for-mobiles {
  margin-bottom: 2em;
}
.qr-codes-for-mobiles-bottom p {
  text-align: center;
}

.scan-to-install-text {
  margin-bottom: 2em;
  font-size: 15px;
  color: grey;
}
.scanner-qr-ios img {
  height: 100px;
  border-radius: 10px;
  width: 100px;
}
.scanner-qr-android img {
  height: 100px;
  width: 100px;
  border-radius: 10px;
}
.scanner-qr-ios {
  padding: 0.5em;
  text-align: center;
  border: 1px solid black;
  border-radius: 10px;
}
.scanner-qr-android {
  text-align: center;
  padding: 0.5em;
  border: 1px solid black;
  border-radius: 10px;
}
/* css for app features */

.flex-container-for-app-section-mobile-landing-page {
  display: flex;
  justify-content: center;
  background-color: #80808029;
}
.width-set-for-app-section-mobile-landing-page {
  width: 75em;
}
.div-for-heading-app-feature h1 {
  text-align: center;
  font-size: 33px;
  padding: 2em 0;
  text-shadow: 0 0 black;
}
.app-features-after-heading {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 2em;
}
.first-feature-for-app img {
  margin-bottom: 1em;
}

.second-feature-for-app img {
  margin-bottom: 1em;
}

.third-feature-for-app img {
  margin-bottom: 1em;
}
.first-feature-for-app h3 {
  margin-bottom: 1em;
  font-weight: 300;
  font-size: 19px;
  text-shadow: 0 0 black;
}
.third-feature-for-app h3 {
  margin-bottom: 1em;
  font-weight: 300;
  font-size: 19px;
  text-shadow: 0 0 black;
}

.second-feature-for-app h3 {
  margin-bottom: 1em;
  font-weight: 300;
  font-size: 19px;
  text-shadow: 0 0 black;
}
.second-feature-for-app p {
  margin-bottom: 1em;
  font-weight: 300;
  font-size: 19px;
  text-shadow: 0 0 black;
}

.third-feature-for-app p {
  margin-bottom: 1em;
  font-weight: 300;
  font-size: 19px;
  text-shadow: 0 0 black;
}
.first-feature-for-app p {
  margin-bottom: 1em;
  font-weight: 300;
  font-size: 19px;
  text-shadow: 0 0 black;
}
.second-feature-for-app {
  margin-bottom: 1em;
  font-weight: 300;
  font-size: 19px;
  text-shadow: 0 0 black;
  max-width: 40%;
}

.third-feature-for-app {
  margin-bottom: 1em;
  font-weight: 300;
  font-size: 19px;
  text-shadow: 0 0 black;
  max-width: 40%;
}
.first-feature-for-app {
  margin-bottom: 1em;
  font-weight: 300;
  font-size: 19px;
  text-shadow: 0 0 black;
  max-width: 40%;
}
/* CSS For the third section of the img and info */
.flex-container-for-img-and-info-section {
  display: flex;
  justify-content: center;
  margin: 5em 0;
  background-color: #f1fff1;
}
.width-set-for-img-and-info-section {
  width: 75em;
}
.container-info-and-img-section {
  display: flex;
  align-items: center;
}
.heading-and-paragraph-for-img p {
  max-width: 86%;
  font-size: 1.25em;
  font-weight: 200;
  color: grey;
  line-height: 1.5em;
}
.heading-and-paragraph-for-img h2 {
  margin-bottom: 1em;
}
.img-for-section-after-para img {
  width: 35em;
}

.container-info-and-img-section-2 {
  display: flex;
  gap: 5em;
  align-items: center;
  margin: 4em 0;
}
.heading-and-paragraph-for-img-2 p {
  /* max-width: 86%; */
  font-size: 1.25em;
  font-weight: 200;
  color: grey;
  line-height: 1.5em;
}
.heading-and-paragraph-for-img-2 h2 {
  margin-bottom: 1em;
}
.img-for-section-after-para-2 img {
  width: 35em;
}
.flex-container-bottom-qr-downloads {
  display: flex;
  justify-content: center;
  margin: 5em 0;
}
.width-for-bottom-qr-downloads {
  width: 75em;
}
.scan-to-install-bottom {
  display: flex;
  gap: 1em;
  justify-content: center;
  /* padding-left: 1em; */
}
/* Media Query */

@media (min-width: 320px) and (max-width: 425px) {
  .flex-container-for-app-section-mobile-landing-page {
    display: flex;
    justify-content: center;
    background-color: #80808029;
    margin: 1em;
  }
  .container-for-qr-codes-and-heading-img {
    display: block;
    justify-content: center;
    margin: 2em 0;
    text-align: center;
  }
  .title-heading-info-and-qr-for-mobile {
    width: 100%;
  }
  .image-for-landing-page-heading-section img {
    width: 100%;
  }
  .scan-to-install {
    display: flex;
    gap: 1em;
    justify-content: center;
    /* padding-left: 1em; */
  }
  .info-paragraph-for-mobile-qr {
    max-width: 100%;
    font-size: 1.25em;
    font-weight: 200;
    color: grey;
  }
  .title-heading-info h1 {
    font-size: 29px;
    color: #212326;
  }
  .flex-container-landing-page-mobile-section {
    display: flex;
    justify-content: center;
    margin: 1em;
  }

  /* Media Query for second section */

  .first-feature-for-app {
    margin-bottom: 1em;
    font-weight: 300;
    font-size: 19px;
    text-shadow: 0 0 black;
    max-width: 100%;
  }
  .second-feature-for-app {
    margin-bottom: 1em;
    font-weight: 300;
    font-size: 19px;
    text-shadow: 0 0 black;
    max-width: 100%;
  }
  .third-feature-for-app {
    margin-bottom: 1em;
    font-weight: 300;
    font-size: 19px;
    text-shadow: 0 0 black;
    max-width: 100%;
  }
  .first-feature-for-app h3 {
    margin-bottom: 1em;
    font-weight: 300;
    font-size: 16px;
    text-shadow: 0 0 black;
  }
  .second-feature-for-app h3 {
    margin-bottom: 1em;
    font-weight: 300;
    font-size: 16px;
    text-shadow: 0 0 black;
  }
  .third-feature-for-app h3 {
    margin-bottom: 1em;
    font-weight: 300;
    font-size: 16px;
    text-shadow: 0 0 black;
  }
  .first-feature-for-app p {
    margin-bottom: 1em;
    font-weight: 300;
    font-size: 16px;
    text-shadow: 0 0 black;
  }
  .second-feature-for-app p {
    margin-bottom: 1em;
    font-weight: 300;
    font-size: 16px;
    text-shadow: 0 0 black;
  }
  .third-feature-for-app p {
    margin-bottom: 1em;
    font-weight: 300;
    font-size: 16px;
    text-shadow: 0 0 black;
  }
  .app-features-after-heading {
    display: block;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .div-for-heading-app-feature h1 {
    text-align: center;
    font-size: 25px;
    padding: 2em 0;
    text-shadow: 0 0 black;
  }
  .heading-and-app-feature-section {
    padding: 1em;
  }
  /* media query for img info section */
  .container-info-and-img-section {
    display: block;
    align-items: center;
    text-align: center;
  }

  .img-for-section-after-para img {
    width: 100%;
  }
  .heading-and-paragraph-for-img p {
    max-width: 100%;
    font-size: 1em;
    font-weight: 200;
    color: grey;
    text-align: center;
    line-height: 1.5em;
    margin-bottom: 1em;
  }
  .container-info-and-img-section-2 {
    display: block;
    align-items: center;
    text-align: center;
  }
  .width-set-for-img-and-info-section {
    width: 100%;
    margin: 1em;
  }
  .img-for-section-after-para-2 img {
    width: 100%;
  }
  .heading-and-paragraph-for-img-2 p {
    max-width: 100%;
    font-size: 1em;
    font-weight: 200;
    color: grey;
    text-align: center;
    line-height: 1.5em;
    margin-bottom: 1em;
  }

  .heading-and-paragraph-for-img h2 {
    margin: 1em 0;
    font-size: 20px;
  }
  .heading-and-paragraph-for-img-2 h2 {
    margin: 1em 0;
    font-size: 20px;
  }
  /* Media query bottom section */

  .flex-container-bottom-qr-downloads {
    display: flex;
    justify-content: center;
    margin: 1em;
  }
  .title-heading-info-bottom h1 {
    font-size: 28px;
    color: #212326;
    font-weight: 400;
    margin-bottom: 1em;
    text-align: center;
  }
  .scanner-qr-ios img {
    height: 87px;
    border-radius: 10px;
    width: 87px;
  }
  .scanner-qr-android img {
    height: 87px;
    border-radius: 10px;
    width: 87px;
  }
}
