.flex-div-for-blog {
  display: flex;
  justify-content: center;
  border-bottom: 1px solid black;
  height: 400px;
}
.wid-div-for-blog {
  width: 90em;
  display: flex;
  justify-content: space-between;
  gap: 97px;
  padding: 40px 0 0 0;
}
.publish-date {
  width: 50%;
}
.img-for-blog-preview {
  height: auto;
  width: 450px;
  cursor: pointer;
}
.middle-content-for-blog {
  display: flex;
  justify-content: start;
  /* align-items: center; */
}
.heading-for-blog {
  font-size: 30px;
  font-weight: 600;
  cursor: pointer;
}
.last-col-for-div-img {
  display: flex;
  justify-content: center;
  align-items: center;
}
.author {
  margin: 10px 0 40px 0;
  font-weight: 500;
  font-size: 17px;
}
.short-blog {
  font-size: 17px;
  color: #0d0e0ec9;
  margin: 10px 0 40px 0;
}
.read-more-div {
  display: flex;
  gap: 15px;
  align-items: center;
  cursor: pointer;
}
.arrow-img-div {
  display: flex;
  align-items: center;
  justify-content: center;
}
.two-div-for-order {
  display: flex;
  gap: 97px;
}
@media (min-width: 320px) and (max-width: 425px) {
  .wid-div-for-blog {
    display: block;
    width: 100%;
    padding: 1em;
  }
  .img-for-blog-preview {
    width: 100%;
  }
  .last-col-for-div-img {
    order: 2;
  }
  .publish-date {
    order: 1;
  }
  .middle-content-for-blog {
    order: 3;
  }
  .two-div-for-order {
    display: block;
    flex-direction: column-reverse;
  }
  .flex-div-for-blog {
    height: auto;
  }
}
