.main-container-for-explore-more {
  background-color: rgba(14, 145, 145, 0.144);
  padding: 42px 1px 75px 0px;
  display: flex;
  justify-content: center;
}
.explore-more-btn {
  background-color: #124944;
  color: white;
  height: 55px;
  width: 130px;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.wid-for-explore-more-compo {
  width: 75em;
}

.heading-text-and-explore-button {
  display: flex;
  justify-content: space-between;
  padding: 35px 0;
  align-items: center;
}
/* 
.heading-in-explore-more {
} */

.iduldge-in-our-text-heading {
  font-size: 13px;
  /* padding: 0 4px; */
  padding: 16px 4px;
  font-weight: 500;
  color: dimgrey;
}

.sweet-inspiration-text-heading {
  font-size: 40px;
  font-weight: 600;
  font-family: 'Beau Rivage';
}
.cards-for-explore-more-and-read-more-about-us {
  padding: 1rem 1rem 1rem 0rem;
  display: flex;
  column-gap: 2rem;
}
/* 
.image-for-save-the-product {
  float: right;
} */

.blog-text-and-image-for-save-the-product {
  display: flex;
  justify-content: space-between;
  padding-top: 14px;
}
.blog-text-and-image-for-save-the-product p {
  font-size: 13px;
  font-weight: 400;
}
.explore-product-cards-container {
  border-radius: 7px;
}

.explore-more-cards-container-1 {
  border-radius: 6px;
  display: block;
  border: 12px solid white;
  width: 270px;
  height: auto;
}
.explore-more-cards-container-2 {
  border-radius: 6px;
  display: block;
  border: 12px solid white;
  width: 270px;
  height: auto;
}

.explore-more-cards-container-3 {
  border-radius: 6px;
  display: block;
  border: 12px solid white;
  width: 270px;
  height: auto;
}

.explore-more-cards-container-4 {
  border-radius: 6px;
  display: block;
  border: 12px solid white;
  width: 270px;
  height: auto;
}

.explore-more-card-for-selection {
  height: 272px;
  width: 250px;
  display: block;
  padding: 11px;
}

.pet-treats-text-for-selection {
  padding: 12px 0;
  font-size: 20px;
}
