.main-container-for-explore-more {
  background-color: rgba(14, 145, 145, 0.144);
  padding: 20px 1px 50px 0px;
}
.explore-more-btn {
  background-color: #124944;
  color: white;
  border: none;
  height: 40px;
  width: 100px;
  cursor: pointer;
}

.heading-text-and-explore-button {
  display: flex;
  justify-content: space-between;
  padding: 35px 85px;
}
/* 
.heading-in-explore-more {
} */

.iduldge-in-our-text-heading {
  font-size: 13px;
  padding: 0 4px;
  font-weight: 500;
  color: dimgrey;
}

.sweet-inspiration-text-heading {
  font-size: 40px;
  font-family: "Beau Rivage";
}
.cards-for-explore-more-and-read-more-about-us {
  padding: 1rem 1rem 1rem 4.5rem;
  display: flex;
  column-gap: 2rem;
}
/* 
.image-for-save-the-product {
  float: right;
} */

.blog-text-and-image-for-save-the-product {
  display: flex;
  justify-content: space-between;
  padding-top: 14px;
}
.blog-text-and-image-for-save-the-product p {
  font-size: 13px;
  font-weight: 400;
}
.explore-product-cards-container {
  border-radius: 7px;
}

.explore-more-cards-container-1 {
  border-radius: 6px;
  display: block;
  border: 10px solid white;
  width: 270px;
  height: auto;
}
.explore-more-cards-container-2 {
  border-radius: 6px;
  display: block;
  border: 10px solid white;
  width: 270px;
  height: auto;
}

.explore-more-cards-container-3 {
  border-radius: 6px;
  display: block;
  border: 10px solid white;
  width: 270px;
  height: auto;
}

.explore-more-cards-container-4 {
  border-radius: 6px;
  display: block;
  border: 10px solid white;
  width: 270px;
  height: auto;
}

.explore-more-card-for-selection {
  height: 272px;
  width: 250px;
  display: block;
  padding: 11px;
}

.pet-treats-text-for-selection {
  padding-left: 11px;
  font-size: 20px;
}
