.review-heading {
  color: gray;
  font-size: 14px;
  padding: 10px 0 5px 0;
}
.review-desc {
  padding: 0 0 0 85px;
}
.review-img {
  height: 40px;
  width: 40px;
  border: 1px solid black;
  border-radius: 50%;
  margin: 13px 0 10px 0;
}
.customer-count-review {
  font-size: 24px;
  font-weight: 700;
  padding-bottom: 20px;
}
.star-review {
  font-size: 100%;
  color: yellow;
  border: none;
}
